/* 1. 把a转换为块级元素 */
.manageleft > a {
    display: block;
    width: 200px;
    height: 40px;
    background-color: #55585a;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    line-height: 40px;
}
/* 2 鼠标经过链接变换背景颜色 */
.manageleft > a:hover {
    background-color: #ff6700;
}
.manageleft {
    display: block;
    width: 200px;
}

.hovertable {
    font-family: verdana,arial,sans-serif;
    font-size:16px;
    color:#333333;
    border-width: 6px;
    border-color: #999999;
    border-collapse: collapse;
}
.hovertable th {
    width: 100px;
    background-color:#c3dde0;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
.hovertable tr {
    width: 100px;
    background-color:#d4e3e5;
}
.hovertable td {
    width: 100px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #a9c6c9;
}
/* 1. 把a转换为块级元素 */
.manageleft > a {
    display: block;
    width: 200px;
    height: 30px;
    background-color: #55585a;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
    line-height: 30px;
}

/* 2 鼠标经过链接变换背景颜色 */
.manageleft > a:hover {
    background-color: #C3DDE0;
}
.manageleft {
    display: block;
    width: 230px;
}